apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-bridge-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: bridge.137.184.246.6.nip.io
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: my-bridge-bridge-service
            port: 
              number: 8080
